<div class='flights-content'>
  <h1 class='index-header'>Choose your flight details</h1>
    <%= form_with url: "/flights", method: 'get', local:true, class: 'drop-downs' do |form| %>
      <%= form.select(:departure_airport_id, options_for_select(@airport_options, 
      params[:departure_airport_id]), { prompt: 'departure'}, { class: 'dropdown'}) %>
      
      <%= form.select(:arrival_airport_id, options_for_select(@airport_options, 
      params[:arrival_airport_id]), {prompt: 'arrival'}, {class: 'dropdown'}) %>

      <%= form.select(:ticket_number, options_for_select(['1', '2', '3', '4'], 
      params[:ticket_number]), {prompt: 'passengers'}, {class: 'dropdown'})%>
      
      <%= form.select(:departure_month, options_for_select(@month_options, 
      params[:departure_month]), {prompt: 'month'}, {class: 'dropdown'}) %>

      <%= form.select(:departure_day, options_for_select(@day_options, 
      params[:departure_day]), {prompt: 'day'}, {class: 'dropdown'}) %>

      <%= form.select(:departure_year, options_for_select(@year_options, 
      params[:departure_year]), {prompt: 'year'}, {class: 'dropdown'}) %>

      <%= form.submit "Search", class: 'search' %>
    <% end %>
  
  <% unless params[:departure_airport_id] == "" || params[:arrival_airport_id] == "" ||
     params[:ticket_number] == "" || params[:departure_year] == "" || 
     params[:departure_month] == "" || params[:departure_day] == "" || @flight_options.nil? 
  %>
    <p>Outbound flight for <%= @flight_options.first.departure_airport.airport_code %>
    to <%= @flight_options.first.arrival_airport.airport_code %></p>

    <p><%= @selected_date.to_fs(:long_ordinal)%>

    <p>Choose a flight time: </p>

    <%= form_with url:"/bookings/new", method: "get", local:true do |form| %>

      <% @flight_options.each do |flight| %>
        <%= form.radio_button :selected_flight, "#{flight.id}" %>
        <%= form.label "selected_flight_#{flight.id}", "#{flight.start_datetime.to_s(:time)}" %>
      <% end %>

      <%= form.hidden_field :ticket_quantity, value: params[:ticket_number]%>

      <%= form.submit "Select Flight" %>
    <% end %>
  <% end %>
</div>





