
<%= form_with model: @booking, local: true do |form| %>
  <p>You have selected the flight from
    <%= @flight_info.departure_airport.airport_code %> to 
    <%= @flight_info.arrival_airport.airport_code %> at 
    <%= @flight_info.start_datetime.to_s(:time)%> on 
    <%= @selected_date.to_fs(:long_ordinal)%>
  </p>
  <p>If this is correct, please complete the following form</p>
  <%= form.hidden_field :flight_id, value: params[:selected_flight]%>
  <% i = 1 %>
  <% @passenger_quantity.times do %>
    <p>Passenger <%= "#{i}" %></p>
    <%= form.fields_for :passengers do |passenger_info| %>
      <%= passenger_info.label :first_name, "First Name:"%>
      <%= passenger_info.text_field :first_name %>
      <%= passenger_info.label :last_name, "Last Name:"%>
      <%= passenger_info.text_field :last_name %>
      <%= passenger_info.label :email, "email:"%>
      <%= passenger_info.email_field :email %>
    <% end %>
    <% i += 1%>
    <br>
  <% end %>
  <%= form.submit 'Purchase Ticket' %>
<% end %>