<!DOCTYPE html>
<html>
  <head>
    <title>FlightBooker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <div class='page'>
    <% flash.each do |type, msg| %>
      <div class='flash'>
        <%= msg %>
      </div>
    <% end %>
    <div class='navbar'>
      <%= link_to "Flight Booker", "/flights", :class => 'home-page'%>
    </div>
    <div class='content'>
      <%= yield %>
    </div>
  </div>
  </body>
</html>
